// reset cvars which might be set (but not changed) when switching from public to comp configs

// NOTE: Do not use quotes to wrap 2 values..wrong:
// cg_fov IN "80 120"
// Quotes will be treated as a single value in case above.. While correct way is:
// cg_fov IN 80 120
// or
// cg_fov IN "80" "120"

sv_cvar cg_test1 IN -50 0.005
sv_cvar cg_test2 IN -10 0.002
sv_cvar cg_test3 IN -2 0.002
sv_cvar doh EQ 40

sv_cvar cg_bobup IN 0 0.005
sv_cvar cg_bobpitch IN 0 0.002
sv_cvar cg_bobroll IN 0 0.002
sv_cvar cg_fov IN 90 120
sv_cvar cg_shadows EQ 0
sv_cvar cg_thirdperson EQ 0
sv_cvar cg_zoomDefaultSniper IN 0 125
sv_cvar cl_avidemo EQ 0
sv_cvar cl_maxpackets EQ 125
sv_cvar cl_pitchspeed IN 0 180
sv_cvar cl_timenudge IN -20 0
sv_cvar cl_yawspeed IN 0 180
sv_cvar com_maxfps IN 76 125
sv_cvar m_pitch OUT -0.01 0.01
sv_cvar m_yaw EQ 0.022
sv_cvar r_ati_fsaa_samples EQ 0
sv_cvar r_ati_truform_tess EQ 0
sv_cvar r_colorbits EQ 32
sv_cvar r_ext_ATI_pntriangles EQ 0
sv_cvar r_ext_NV_fog_dist EQ 0
sv_cvar r_ext_texture_filter_anisotropic EQ 0
sv_cvar r_gamma IN 0 4
sv_cvar r_flares IN 0 1
sv_cvar r_ignorehwgamma EQ 1
sv_cvar r_intensity IN 0 4
sv_cvar r_mapoverbrightbits IN 0 4
sv_cvar r_overbrightbits IN 0 4
sv_cvar r_picmip IN 0 3
sv_cvar r_primitives IN 0 2
sv_cvar r_rmse EQ 0
sv_cvar r_texturemode INCLUDE "GL_LINEAR"
sv_cvar r_uifullscreen IN 0 1
sv_cvar r_vertexlight IN 0 1
sv_cvar rate EQ 25000
sv_cvar snaps EQ 40
sv_cvar cg_autoaction IN 3 7
sv_cvar pmove_fixed EQ 0
sv_cvar r_wolffog EQ 1
