//
// RTCWPro Default Public
//
// !!! IMPORTANT NOTE !!!
// Ensure all values are surrounded by quotes, the parser can't properly deal with negative values otherwise.

configname "^1RTCWPro ^7Public"

public

init
{
setl g_tournament "0"
setl g_altStopwatchMode "0"
setl g_complaintlimit "6"
setl g_doWarmup "0"
setl g_inactivity "0"
setl g_maxlives "0"
setl g_teamforcebalance "1"
setl g_voicechatsallowed "50"
setl g_warmup "10"
setl g_antiWarp "1"
setl g_antilag "1"
setl g_noTeamSwitching "1"
setl g_minGameClients "2"
setl match_minplayers "2"
setl match_latejoin "1"
setl match_mutespecs "1"
setl match_timeoutcount "0"
setl match_warmupDamage "4"
setl team_maxplayers "0"
setl team_nocontrols "1"
setl team_commands "1"
setl sv_allowDownload "1"
setl sv_floodProtect "0"
setl sv_fps "20"
setl vote_limit "5"
setl g_lifeStats "1"
setl g_crouchRate "5"
setl g_fastStabSound "3" // 1 = osp goat, 2 = humiliation, 3 = random
setl g_hitsounds "0"
setl g_maxTeamPF "1"
setl g_dropWeapons "9"

// reset cvars which might be set (but no changed) when switching from public to comp configs
set g_userTimeLimit "0"
set g_useralliedrespawntime "0"
set g_useraxisrespawntime "0"

command sv_cvarempty 0 0 "0"
command sv_cvar cg_bobup IN "0 0.005"
command sv_cvar cg_bobpitch IN "0 0.002"
command sv_cvar cg_bobroll IN "0 0.002"
command sv_cvar cg_fov IN "90 120"
command sv_cvar cg_shadows EQ "0"
command sv_cvar cg_thirdperson EQ "0"
command sv_cvar cg_zoomDefaultSniper IN "0 125"
command sv_cvar cl_avidemo EQ "0"
command sv_cvar cl_maxpackets EQ "100"
command sv_cvar cl_pitchspeed IN "0 180"
command sv_cvar cl_timenudge IN "-20 0"
command sv_cvar cl_yawspeed IN "0 180"
command sv_cvar com_maxfps IN "60 125"
command sv_cvar m_pitch OUT "-0.01 0.01"
command sv_cvar m_yaw EQ "0.022"
command sv_cvar r_ati_fsaa_samples EQ "0"
command sv_cvar r_ati_truform_tess EQ "0"
command sv_cvar r_colorbits EQ "32"
command sv_cvar r_ext_ATI_pntriangles EQ "0"
command sv_cvar r_ext_NV_fog_dist EQ "0"
command sv_cvar r_ext_texture_filter_anisotropic EQ "0"
command sv_cvar r_gamma IN "0 3"
command sv_cvar r_flares IN "0 1"
command sv_cvar r_ignorehwgamma EQ "1"
command sv_cvar r_intensity IN "0 3"
command sv_cvar r_mapoverbrightbits IN "0 4"
command sv_cvar r_overbrightbits IN "0 4"
command sv_cvar r_picmip IN "0 3"
command sv_cvar r_primitives IN "0 2"
command sv_cvar r_rmse EQ "0"
command sv_cvar r_texturemode INCLUDE "GL_LINEAR"
command sv_cvar r_uifullscreen IN "0 1"
command sv_cvar r_vertexlight IN "0 1"
command sv_cvar rate EQ "25000"
command sv_cvar snaps EQ "40"
command sv_cvarload 0 0 "0"
}
