//
// RTCWPro Default Competition
//
// !!! IMPORTANT NOTE !!!
// Ensure all values are surrounded by quotes, the parser can't properly deal with negative values otherwise.

configname "^1RTCWPro ^7Competition HITSOUNDS"

// vanilla
seta g_gametype "6"
seta g_gameskill "3"
seta dmflags "0"
seta fraglimit "0"
seta timelimit "0"
seta capturelimit "8"
seta g_friendlyFire "1"
seta g_maxGameClients "0"
seta g_minGameClients "2"
seta g_speed "320"
seta g_gravity "800"
seta g_cheats "0"
seta g_knockback "1000"
seta g_quadfactor "3"
seta g_forcerespawn "0"
seta g_inactivity "0"
seta g_debugMove "0"
seta g_debugDamage "0"
seta g_debugAlloc "0"
seta g_debugBullets "0"
seta g_weaponRespawn "5"
seta g_synchronousClients "0"
seta g_warmup "20"
seta g_warmupLatch "1"
seta g_nextTimeLimit "0"
seta g_showHeadshotRatio "0"
seta g_userTimeLimit "0"
seta g_userAlliedRespawnTime "0"
seta g_userAxisRespawnTime "0"
seta g_currentRound "0"
seta g_noTeamSwitching "0"
seta g_altStopwatchMode "0"
seta g_log "logs/games.log"
seta g_logSync "1"
seta g_podiumDist "80"
seta g_podiumDrop "70"
seta g_voteFlags "255"
seta g_complaintlimit "3"
seta g_maxlives "0"
seta g_voiceChatsAllowed "4"
seta g_alliedmaxlives "0"
seta g_axismaxlives "0"
seta g_fastres "0"
seta g_fastResMsec "1000"
seta g_knifeonly "0"
seta g_enforcemaxlives "0"
seta g_weaponTeamRespawn "30"
seta g_doWarmup "1"
seta g_teamForceBalance "0"
seta g_listEntity "0"
seta g_banIPs ""
seta g_filterBan "1"
seta g_rankings "0"
seta g_enableBreath "1"
seta g_smoothClients "1"
seta pmove_fixed "0"
seta pmove_msec "8"
seta developer "0"
seta g_mg42arc "0"
seta g_redlimbotime "30000"
seta g_bluelimbotime "30000"
seta g_medicChargeTime "45000"
seta g_engineerChargeTime "30000"
seta g_LTChargeTime "40000"
seta g_soldierChargeTime "20000"
seta g_antilag "1" // nobo = 1 unlagged = 2
seta url ""
seta g_dbgRevive "0"
// RTCWPro
seta g_screenShake "100"
seta g_preciseHeadHitBox "1"
seta g_gamelocked "0"
seta g_allowEnemySpawnTimer "1"
// stats
seta g_stats_curl_submit "1" // enable stats submission at end of round
seta g_stats_curl_submit_URL "https://rtcwproapi.donkanator.com/submit" // submit destination
seta g_stats_curl_submit_headers "0" // currently useless
seta g_gameStatslog "16" // temp cvar for event logging
// Match
seta team_maxplayers "0" // max players per team
seta team_nocontrols "0" // disable team controls, team ready, spec lock, etc
seta match_warmupDamage "1"
seta match_mutespecs "0"
seta match_latejoin "1"
seta match_minplayers "1"
seta match_readypercent "100"
seta match_timeoutlength "180"
seta match_timeoutcount "3"
seta vote_allow_comp "1"
seta vote_allow_gametype "1"
seta vote_allow_kick "1"
seta vote_allow_map "1"
seta vote_allow_matchreset "1"
seta vote_allow_mutespecs "1"
seta vote_allow_nextmap "1"
seta vote_allow_pub "1"
seta vote_allow_referee "1"
seta vote_allow_shuffleteamsxp "1"
seta vote_allow_swapteams "1"
seta vote_allow_friendlyfire "1"
seta vote_allow_timelimit "0"
seta vote_allow_warmupdamage "1"
seta vote_allow_antilag "1"
seta vote_allow_balancedteams "1"
seta vote_allow_muting "1"
seta vote_limit "3"
seta vote_percent "60"
seta bannedMSG "You are ^3Banned ^7from this server!"
seta g_drawHitboxes	"1" // enable with /draw_hitboxes
seta g_privateServer "0"
seta TXThandle "1"
seta g_disableInv "0" // disable invulnerability once clients start shooting after revive
seta g_unlockWeapons "0"
seta g_crouchRate "5"
seta g_disableSMGPickup	"0" // enable so clients can't pickup SMG if they already have one
seta g_fastStabSound "1"
seta g_axisSpawnProtectionTime "3000"
seta g_alliedSpawnProtectionTime "3000"
// General
seta g_showFlags "1"
seta g_allowPMs "1"
seta g_hitsounds "1"
seta g_mapConfigs "1"
seta g_lifeStats "0"
seta g_duelAutoPause "0"
seta g_bodiesGrabFlags "0"
// Match specific
seta g_tournament "1" // Ready-unready system
seta g_ltNades "1" // Number of nades a lt starts with
seta g_medicNades "1" // Number of nades a med starts with
seta g_soldNades "4" // Number of nades sold starts with
seta g_engNades "8" // Number of nades eng starts with
seta g_medicClips "0" // Number of clips in weapon med starts with
seta g_engineerClips "1" // Number of clips in weapon eng starts with
seta g_soldierClips	"2" // Number of clips in weapon sold starts with
seta g_leutClips "1" // Number of clips in weapon leut starts with
seta g_pistolClips "3" // How many clips pistol gets
seta g_maxTeamPF "1" // Max Pf's per team
seta g_maxTeamSniper "-1" // Max snipers per team
seta g_maxTeamVenom "1" // Max venoms per team
seta g_maxTeamFlamer "1" // Max flamers per team
seta g_antiWarp "1"
seta g_dropWeapons "9" // allow drop weapon for each class, bitflag value: 1 - soldier, 2 - eng, 4 - medic, 8 - lt, default 9
seta g_hsDamage "50"
seta g_spawnOffset "9" // random spawn offset for both teams, between 1 and cvar integer - 1
seta g_allowForceTapout "1"
// screenshots
seta g_allowSS "1" // Allow clients to use /reqss id
seta g_ssWaitTime "30" // wait time between reqss cmds


sv_cvar cg_bobup IN 0 0.005
sv_cvar cg_bobpitch IN 0 0.002
sv_cvar cg_bobroll IN 0 0.002
sv_cvar cg_fov IN 90 120
sv_cvar cg_shadows EQ 0
sv_cvar cg_thirdperson EQ 0
sv_cvar cg_zoomDefaultSniper IN 0 125
sv_cvar cl_avidemo EQ 0
sv_cvar cl_maxpackets EQ 125
sv_cvar cl_pitchspeed IN 0 180
sv_cvar cl_timenudge EQ 0
sv_cvar cl_yawspeed IN 0 180
sv_cvar com_maxfps IN 76 250
sv_cvar m_pitch OUT -0.015 0.015
sv_cvar m_yaw EQ 0.022
sv_cvar r_ati_fsaa_samples EQ 0
sv_cvar r_ati_truform_tess EQ 0
sv_cvar r_colorbits EQ 32
sv_cvar r_ext_ATI_pntriangles EQ 0
sv_cvar r_ext_NV_fog_dist EQ 0
sv_cvar r_ext_texture_filter_anisotropic EQ 0
sv_cvar r_gamma IN 0 4
sv_cvar r_flares IN 0 1
sv_cvar r_ignorehwgamma EQ 1
sv_cvar r_intensity IN 0 4
sv_cvar r_mapoverbrightbits IN 0 4
sv_cvar r_overbrightbits IN 0 4
sv_cvar r_picmip IN 0 3
sv_cvar r_primitives IN 0 2
sv_cvar r_rmse EQ 0
sv_cvar r_texturemode INCLUDE "GL_LINEAR"
sv_cvar r_uifullscreen IN 0 1
sv_cvar r_vertexlight IN 0 1
sv_cvar rate EQ 25000
sv_cvar snaps EQ 40
sv_cvar cg_autoaction IN 3 7
sv_cvar pmove_fixed EQ 0
sv_cvar r_wolffog EQ 1
sv_cvar cg_errordecay EQ 100
sv_cvar cl_guid EXCLUDE "58e419de5a8b2655f6d48eab68275db5"
sv_cvar cl_guid EXCLUDE "8e6a51baf1c7e338a118d9e32472954e"